<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobilepower.tong"
    android:versionCode="1"
    android:versionName="0.9" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />

    <!-- Don't require camera, as this requires a rear camera. This allows it to work on the Nexus 7 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".TongApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >

        <!-- Jelly umeng appkey -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="54cc96a6fd98c5b4af000210" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="laidianba" />
        <!-- 在百度开发者中心查询应用的API Key -->
        <meta-data
            android:name="api_key"
            android:value="Ae2bfGHxqTk7Qnpj4m05yTux" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

        <!-- meta-data需要写在application中 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="YDxOmG89w35MSTimZERG6Ncu" />

        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.RegisterStepOneActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.RegisterStepTwoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.MainTabActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.TongPageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ShopPageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.HistoryPageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.NearByPageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.SelfPageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.LentCodeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.LentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.mobilepower.tong.dimencode.ScanActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.BorrowTipsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.CashActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.MobPowHistory"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.UserInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ScoreDescActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.EditSelfInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.AboutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ChatListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ChatActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ShopPageMapActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.FriendsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.RechargeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.RechargeWebViewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.ScanResultActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.activity.EditInfoActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- push service client -->
        <receiver android:name="com.mobilepower.tong.push.TongPushMessageReceiver" >
            <intent-filter>

                <!-- 接收 push 消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收 bind、setTags 等 method 的返回结果 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
            </intent-filter>
        </receiver>

        <!-- push service start -->
        <!-- 用于接收系统消息以保证 PushService 正常运行 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":tongpush" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
            </intent-filter>
        </receiver>
        <!-- Push 服务接收客户端发送的各种请求 -->
        <!-- 注意:RegistrationReceiver 在 2.1.1 及之前版本有拼写失误,为 RegistratonReceiver ,用 新版本 SDK 时请更改为如下代码 -->
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":tongpush" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- Push 服务 -->
        <!-- 注意:在 4.0 (包含)之后的版本需加上如下所示的 intent-filter action -->
        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":tongpush" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        <!-- push service end -->

        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="laidian#laidianba" />
        <!-- Required SDK核心功能 -->
        <service android:name="com.easemob.chat.EMChatService" />
    </application>

</manifest>